.main-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-userBlock{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: space-between;
    border-bottom: 2px solid #5ee0a8;
}

.main-userBlock-login{
    font-family: Inter;
    font-weight: 500;
    color: #fff;
}

.main-userBlock-FIO{
    font-family: Inter;
    font-weight: 500;
    color: #fff;
}
.main-userBlock-btn{
    font-family: Inter;
    font-size: 13px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #5ee0a8;
    transition: 0.7s;
}


.main-userBlock-btn:hover{
    font-size: 15px;
    color: #fff;
    background-color: #444444;
}

.main-content{
    margin-top: 50px;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    column-gap: 190px;
    row-gap: 80px;
}

.main-content-block{
    margin-top: 50px;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 0fr);
}